<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Detail</title>
</head>
<body>
    <img src="{{user.image_url}}" alt="">
    <h1>{{user.first_name}} {{user.last_name}}</h1>

    <form action="/{{user.id}}/edit">
        <button>Edit</button>
    </form>

    <form action="user/{{user.id}}/delete" method="POST">
        <button>Delete</button>
    </form>

    <h3>Posts</h3>
    <ul>{% for post in posts %}
        <a href="/post/{{ post.id }}"><li>{{post.title}}</a></li>
    {%endfor%}
    </ul>

    <form action="/{{user.id}}/add_post">
        <button>Create Post</button>
    </form>

</body>
</html>